$mobileMode: 600px;

$colBlack: #0D0D0D;


._flexCentered{
  display: flex;
  justify-content: center;
  align-items: center;
}

.TriggerWarning{
  z-index: 999999;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: $colBlack;
  color: white;
  flex-direction: column;
  padding: 5vh 5vw;
  
  h1{
    margin: 10px 0px;
    font-weight: 300;
    font-size:  clamp(40px, 2.6vw, 55px);
  }

  p{
    text-align: center;
    font-size: 22px;
    font-weight: 100;
    margin: 0px;
  }

  .ButtonContainer{
    margin-top: 20px;

    div{
      font-size: 20px;
      border-radius: 5px;
      border: 1px solid white;
      padding: 10px;
      cursor: pointer;
    }

    @media (min-width: $mobileMode) {
      div:not(:last-child){
        margin-right: 20px;
      }
    }

  }
}

.YoutubeIFrame{
  width: 100%;
  height: 80vh;
  margin-bottom: 20px;

  @media (max-width: $mobileMode) {
    height: 15vh;
  }
}


.TextSection{
  width: 100%;
  flex-direction: column;
  font-size: clamp(15px, 1.6vw, 18px);
  padding: 20px 0px;

  .TextBlock{
    width: 80%;
    max-width: 1000px;
    text-align: justify;
    color: white;

    @media (min-width: $mobileMode) {
      width: 90%;
    }

    .Text{
      user-select: text !important;
      font-weight: 300;
      margin-bottom: 10px;

      a,a:visited{
        color:#00a1ff;
      }

      &.Quote{
        padding: 0px 10%;
        font-style: italic;
        font-size: clamp(17px, 1.7vw, 20px);
        font-weight: 400;
      }

      .Img{
        &Right{
          float: right;
          max-width: 50vw;
          margin-left: 10px;
        }
        &Left{
          float: left;
          max-width: 50vw;
          margin-right: 10px;
        }
      }
    }

    .CenteredImg{
      width: 100%;
      text-align: center;
      margin-bottom: 10px;

      img,div{
        max-width: 100%;
      }
    }
  }

  .ItemDescriptor{
    width: 100%;
    text-align: center;
    margin: 10px 0px;
  }

  h1{
    font-size: clamp(35px, 2.5vw, 50px);
    margin: 50px 0px 30px;
    text-align: center;
    font-weight: 300;
  }
}

.Separator{
  font-family: 'Roboto Slab', serif;
  position: relative;
  width: 100%;
  padding: 0px;
  
  img{
      width: 100%;
      height: 500px;
  }
  
  div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 60px;
    text-align: center;
    white-space: nowrap;
  }

  span.SubTitle{
    font-size: 30px;
    white-space: nowrap;
  }
}

._WholeLineItem{
  width: 100vw;
}

.WholePageImage{
  width: 100vw;
  height: 100vh;
}